{% extends 'base.html' %}

{% block title %} About PyData Boston {% endblock %}

{% block content %}

<p>About PyData

<p>PyData is an educational program of NumFOCUS, a 501(c)3 non-profit organization in the United States. The mission of NumFOCUS is to promote sustainable high-level programming languages, open code development, and reproducible scientific research. NumFOCUS sponsors PyData conferences and local meetups internationally. The PyData community gathers to discuss how best to apply tools using Python, R, Stan, and Julia to meet evolving challenges in data management, processing, analytics, and visualization. 

<p>About Our Community

<p>PyData Boston welcomes people of all backgrounds and identities who participates or is interested in data, tools for analysis, and the overarching topic of data science. Our events range from talks to tutorials and is open to everyone at all levels and experiences. We aim to be an accessible, community-driven meetup. Because we strive to cultivate an inclusive community, we abide by a Code of Conduct (http://pydata.org/code-of-conduct.html) for all meetups. To discuss any issues or concerns relating to the code of conduct or the behavior of anyone at a PyData meetup, please contact NumFOCUS Executive Director Leah Silen (+1 512-222-5449; leah@numfocus.org ) or the group organizer.

{% endblock %}
