{% extends 'base.html' %}

{% block title %} Get Involved with PyData Boston {% endblock %}

{% block content %}

<p>Get Involved

    <p>Speak Or Lead a Session
        
    <p>If you have something you want to share, we want to hear it! We are always looking for potential speakers and facilitators from a diverse range of backgrounds (both personal and professional), and we're open to a wide range of topics and formats. <a href="https://forms.gle/ZZ4BD2cK4pYZwdT17">Let us know what you're thinking here</a>.

    <p>Sponsor
        
    <p>PyData Boston is always looking for sponsors for its events. Whether you can provide a space or food for our events, we’d love to have you! Please ////// fill out a form ////// so we can reach out to discuss further.

    <p>Organize
        
    <p>Our events are only made possible by the volunteers who organize the logistics and content behind the scenes. Join us in making PyData Boston and vibrant and thriving community that reflects our diverse interests! ////// You can express interest in organizing here ////// .


{% endblock %}