{% extends 'base.html' %}

{% block title %} Get Involved with PyData Boston {% endblock %}

{% block content %}

<p>Get Involved

    <p>Speak

    <p>All speakers do so pro bono, so we are always looking for potential speakers. We're open to a wide range of topics and formats, and would like to find speakers from a diverse range of backgrounds (both personal and professional).So if you've got an idea for something you'd like to present, please submit it here:

    https://forms.gle/ZZ4BD2cK4pYZwdT17

    <p>Sponsor
        
    <p>Let's talk!

    <p>Organize
        
    <p>Let's talk!


{% endblock %}